<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital List</title>
</head>
<body>
<h1>Hospital List</h1>

<table border="1">
    <thead>
    <tr>
        <th>병원 이름</th>
        <th>혜택 종류</th>
        <th>혜택 내용</th>
        <th>선택 하기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hospital : ${hospitals}">
        <td th:text="${hospital.name}"></td>
        <td th:text="${hospital.saleType}"></td>
        <td th:text="${hospital.sale} + '%'"></td>
        <td>
            <form th:action="@{/hospitals/detail/{hospitalNo}(hospitalNo=${hospital.hospitalNo})}" method="get">
                <button type="submit">선택 하기</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <ul>
        <span th:if="${currentPage > 0}">
            <a th:href="@{/hospitals/{page}(page=${currentPage - 1})}">← </a>
        </span>

        <span th:text="${currentPage}"></span>

        <span th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/hospitals/{page}(page=${currentPage + 1})}"> →</a>
        </span>
    </ul>
</div>

</body>
</html>
