<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital Detail</title>
</head>
<body>
<h1>선택한 병원</h1>
<div th:text="${hospital.name}"></div>
<div th:text="${hospital.sale} + '% ' + ${hospital.saleType}"></div>
<form th:action="@{/transactions/{hospitalNo}(hospitalNo=${hospital.hospitalNo})}" method="post">
    <div>
        <label for="amount">결제 요청 금액:</label>
        <input type="number" id="amount" name="amount" required/>
    </div>
    <div>
        <button type="submit">결제하기</button>
    </div>
</form>
</body>
</html>
