<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board List</title>
</head>
<body>
<h1>Board List</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
        <td th:text="${board.title}"></td>
        <td th:text="${board.content}"></td>
        <td>
            <a th:href="@{'/boards/detail/' + ${board.boardNo}}">View</a>
            <a th:href="@{'/boards/edit/' + ${board.boardNo}}">Edit</a>
            <form th:action="@{'/boards/delete/' + ${board.boardNo}}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a href="/boards/edit">Create New Board</a>
</body>
<div>
    <ul>
        <span th:if="${currentPage > 0}">
            <a th:href="@{/boards/{page}(page=${currentPage - 1})}">← </a>
        </span>

        <span th:text="${currentPage} + '페이지'"></span>

        <span th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/boards/{page}(page=${currentPage + 1})}"> →</a>
        </span>
    </ul>
</div>
</html>